/* Adds hover effect to show close button */
.tabbrowser-tab .tab-close-button {
  display: block !important;
  opacity: 0 !important;
  transition: 0.15s ease-out;
}
.tabbrowser-tab:hover .tab-close-button {
  display: block !important;
  opacity: 1 !important;
}

/* Browser tab icon */
.tabbrowser-tab .tab-icon-image {
  opacity: 100 !important;
  display: inline-block !important;
  width: 16px !important;
  padding-left: 0 !important;
}
.tabbrowser-tab:not([pinned]):not([selected]) .tab-icon-image {
  opacity: 100 !important;
  display: inline-block !important;
  width: 16px !important;
  padding-left: 0 !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-icon-image {
  opacity: 100 !important;
  display: inline-block !important;
  width: 16px !important;
  padding-left: 0 !important;
}
.tabbrowser-tab:not([hover]) .tab-icon-image {
  opacity: 100 !important;
  display: inline-block !important;
  width: 16px !important;
  padding-left: 0 !important;
}

/* Single Tab styling */
@supports not -moz-bool-pref("onebar.disable-single-tab") {
  #titlebar #tabbrowser-tabs .tabbrowser-tab:only-of-type {
    width: max-content !important;
    -moz-box-flex: 0 !important;
    max-width: unset !important;
    margin-inline-end: auto !important;
    --toolbar-bgcolor: transparent !important;
    --tab-selected-bgimage: transparent !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .tabbrowser-tab:only-of-type .tab-text {
    font-weight: 600 !important;
  }
  .tabbrowser-tab:only-of-type .tab-background {
    background-color: transparent !important;
    background-image: unset !important;
    box-shadow: unset !important;
  }
  .tabbrowser-tab:only-of-type .tab-close-button {
    display: none !important;
  }
  /*
  #tabbrowser-tabs:not([closebuttons="activetab"]) ~ #alltabs-button {
  */
}
