/*---+---+---+---+---+---+---+---+---+---+---+
 | C | U | S | T | O | M |   | V | A | R | S |
 +---+---+---+---+---+---*---*---*---*---*---*/

:root {
  --uc-border-radius: 3px;

  --uc-toolbar-position: 4;

  --uc-urlbar-min-width: 240px;
  --uc-urlbar-max-width: 100vw;
}
